<%- include('../partials/header.ejs') %>
<form
  class="max-w-md mx-auto mt-16 bg-gray-200 rounded-lg p-5 text-lg shadow-lg text-primary"
>
  <span class="text-5xl font-semibold block mb-8 text-primary">Login</span>
  <div>
    <label for="email" class="block">Email:</label>
    <input
      class="px-2 py-1 mb-2 w-full rounded-md"
      type="text"
      name="email"
      placeholder="example@xyz.com"
    />
    <div class="emailError"></div>
  </div>
  <div>
    <label for="password" class="block">Password:</label>
    <input
      class="px-2 py-1 mb-2 w-full rounded-md"
      type="password"
      name="password"
      placeholder="*************"
    />
    <div class="passwordError"></div>
  </div>
  <div class="mt-8">
    <button class="bg-primary py-2 px-3 rounded-full text-white">Log in</button>
  </div>
</form>
<%- include('../partials/footer.ejs') %>
<script>
  const form = document.querySelector("form");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const email = form.email.value;
    const password = form.password.value;

    try {
      const response = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { "Content-Type": "application/json" },
      });
      const result = await response.json();
      if (result.user) {
        location.assign("/");
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
